.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 200px;


  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }

  h1 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
    line-height: 20px;
    cursor: pointer;
  }

  p {
    font-size: 14px;
    margin-bottom: 12px;
    color: rgba(0, 0, 0, 0.8);
  }
}


.card {
  position: relative;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-image-container {
  position: relative;
}

.card-image {
  width: 100%;
  height: auto;
  display: block;
}

.like-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  font-size: 20px;
  z-index: 1;
}

.card-content {
  padding: 10px;
}
